absl-py==0.2.0
astor==0.6.2
bleach==1.5.0
click==6.7
Flask==1.0.2
gast==0.2.0
google-api-python-client==1.6.7
grpcio==1.11.0
h5py==2.7.1
html5lib==0.9999999
httplib2==0.11.3
itsdangerous==0.24
Jinja2==2.10
Keras==2.1.6
Markdown==2.6.11
MarkupSafe==1.0
numpy==1.14.3
oauth2client==4.1.2
pandas==0.22.0
Pillow==5.1.0
protobuf==3.5.2.post1
pyasn1==0.4.2
pyasn1-modules==0.2.1
python-dateutil==2.7.2
pytz==2018.4
PyYAML==3.12
rsa==3.4.2
scipy==1.0.1
six==1.11.0
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
uritemplate==3.0.0
Werkzeug==0.14.1
